[2014-02-17 03:41] filhodanuvem opened #1 "Tokens, reserved words and possible limitations"
Let's go!
Gitql will **never insert data**, just read them from a git repository.
At first, many reserved words  (e.g. "in" , "group by", "join" ...) will not be supported.
Below, the list of reserved words and their tokens for the first release.

| Reserved word (lexeme) | Token |
| --- | --- |
| select | T_SELECT |
| from | T_FROM |
| where | T_WHERE |
| order | T_ORDER |
| by | T_BY |
| limit |

[2014-03-22 13:44] cloudson opened #2 "Roadmap for release 1.0.0"
* Management with alias
[code]
* Create functions
   * NOW(), COUNT(), DATE_FORMAT()...

* `IS NULL` as possible right value

[2014-04-12 19:49] #1 closed, assigned to nobody

[2014-04-13 19:15] cloudson opened #3 "Message wrong when using proxy tables"
The tables "tags" and "branches" are something like _views_ from "refs", so
1) Problem 1

`select message from tags`

throws an error: table **'refs'** has not field 'message'.

 2) Problem 2
`select * from tags where type = 'blah'`

returns null instead of error, because table refs has the field type :confused:

[2014-04-13 19:33] filhodanuvem opened #4 "Wrong "Order by""
Order by is wrong :
The "operator" just sorts a page, the result itself.

Eg:.
`select author, message from commits`

| author | message |
| --- | --- |
| cloudson | 1 |
| hgfischer | 2 |
| jeanpimentel | 3 |

`select author message from commits order by message desc limit 2`

| author | message |
| --- | --- |
| hgfischer | 2 |
| cloudson | 1 |

It happens because :
1) gitql executes `select auth

[2014-04-15 16:08] feversocial opened #10 "Installation on mac os x"
Great idea!

I have a problem with installation, after I've done everything by instruction, and then tried

I've got the next one:

Any idea how to fix that quickly?

[2014-04-16 07:58] filhodanuvem opened #11 "Use gitql like git ql ?"
On Reddit someone suggested [that idea](http://www.reddit.com/r/git/comments/234e8y/gitql_a_git_query_language/cgtp7wr).

Could  we do an alias from `/usr/local/bin/gitql` to `/usr/local/bin/git-ql`?

[2014-04-16 15:36] #10 closed, assigned to nobody

[2014-04-17 11:41] filhodanuvem opened #12 "Recursive open repository"
Cited on issue #10 , could be better open repositories in any subpath.

I sent a [PR](https://github.com/libgit2/git2go/pull/86) about it. In bad case, gitql will use cloudson/git2go or will call C library manually

[2014-04-22 13:47] #11 closed, assigned to nobody

[2014-04-23 11:37] cloudson opened #14 "interactive mode"
An interactive mode similar to mysql could be cool ...

[code]

For this, we need something like [goline](https://github.com/nemith/goline)

[2014-04-26 23:49] #12 closed, assigned to nobody

[2014-05-03 08:48] bom-d-van opened #15 "Make failed on version 1.0.1"
I am using Mac OS X 10.9.2 and here is the error report:

[code]

Thanks in advance.

[2014-05-03 11:36] #15 closed, assigned to nobody

[2014-06-21 23:31] #4 closed, assigned to nobody

[2014-07-03 00:43] toroidal-code opened #16 "Make failed for git2go"
When trying to build, I'm getting this error:

[code]

[2014-08-06 10:01] waigani opened #17 "Make failed"
I get this error when running make:

[code]

cmake and libgit2 are installed.

[2014-08-09 13:29] #16 closed, assigned to nobody

[2015-08-06 22:36] cloudson commented on #2
Abandoned for now.

[2015-08-06 22:36] #2 closed

[2015-08-06 22:38] cloudson commented on #17
I will close this issue, if something wrong happen again, notify me.

[2015-08-06 22:38] #17 closed

[2015-08-06 22:41] jhonatanTeixeira commented on #2
You cant abandon this, bitch kkk

Em Qui, 6 de ago de 2015 19:37, Claudson Oliveira <notifications@github.com>
escreveu:

[2015-08-06 22:43] filhodanuvem opened #18 "Features about "databases""
Some notes to the future

1) Show Databases

[code]

is similar to

[code]

or something like that.

2) Change to another database

[code]

is similar to

[code]

[2015-08-06 22:46] cloudson commented on #2
LOL @jhonatanTeixeira .
Currently, i'm more interested in [features like that](https://github.com/cloudson/gitql/issues/18).

But maybe we can reopen this issue soon. :smile:

[2016-12-14 12:02] mbabuskov opened #19 "Usage of F* word in the demo video"
I was about to show qitql to my 12-year old. Good thing I didn't. What's the point of that? The project seems very usable.

Thanks.

[2016-12-14 12:13] rodorgas commented on #19
He will hear it sooner or later (probably had already).

[2016-12-14 12:36] MikeBosw commented on #19
Ha love it

[2016-12-14 12:37] caleblloyd commented on #19
It's a great teaching point. "that's what parents say under their breath when their code still doesn't work after an hour of debugging"

[2016-12-14 12:48] Frozenfire92 opened #20 "Error when searching for something that isn't in a message"
When doing a command like

[code]

I get

[code]

This should fail more gracefully

[2016-12-14 12:51] r04r commented on #19
I'm sorry you feel that your child can't handle certain words. You should probably keep them off the internet entirely. Best to lock them in their room too, who knows what words they are exposed to outside.

[2016-12-14 13:23] tp-robert-debowski commented on #19
Seriously? The use of the F* word in the presentation is higly unprofessional and violates the Open Code of Conduct.  This alone disqualifies this otherwise interesting project for any professional reviews.

(and as a side note: comments regarding somebody's parental duties are just plain childish, but i guess that's just how the whole web rolls today.)

[2016-12-14 13:25] M1ke opened #21 "Make fail on 1.1.1, "Inconsistency detected""
Having run

[code]
I get the following output from compiling:

[code]

[2016-12-14 13:32] sneak commented on #19
Fuck self-censorship.

[2016-12-14 13:32] M1ke commented on #21
My system is Ubuntu 14.04 running `go version go1.2.1 linux/amd64`

I've built numerous packages in different languages including other Go projects so am assuming I have necessary build dependencies but may not.

[2016-12-14 13:33] sneak commented on #19
The Open Code of Conduct is shit if it says you can't say `fuck`.

[2016-12-14 13:35] MikeBosw commented on #19
Lol! As a New Yorker I'm always amazed at this particular prudishness

[2016-12-14 13:39] sneak commented on #19
Just read the Open Code of Conduct, twice. Nowhere does it say `fuck` is banned.

[2016-12-14 13:39] sneak commented on #19
Oh, they deleted their comments making that claim.

[2016-12-14 14:24] kalelc opened #22 "sudo make install cp: ./gitql: No such file or directory"
Hello, when I try install `sudo make install` the terminal returns the message `cp: ./gitql: No such file or directory make: *** [install] Error 1`. Example install:

[code]

Thanks!!

[2016-12-14 14:25] nick-andren commented on #19
Could you clone and set up gitql locally, then delete the video? If you're going to show it off yourself, a real life demo would be great and may not need the video

[2016-12-14 14:47] pedrorijo91 opened #23 "benchmarks"
Do you have any benchmarks for this tool? it seems very cool, but would like to know how performant it is in big projects (linux kernel for instance) ? Maybe others have the same question, it could make sense to add them to the README. (I understand that performance may not be your first goal for this project)

[2016-12-14 15:00] cloudson commented on #23
Hey @pedrorijo91 .
You are alright, the first goal was use gitql in not too big projects, so I dont have benchamarks yet.
If you tried to run it in a big project and have some stats to share, please go ahead. This issue is a great , I will try to do it asap.

[2016-12-14 15:03] cloudson commented on #22
Hey @kalelc.
Do you have `cmake` installed on your OS? By the way, are you using Mac, linux...

[2016-12-14 15:06] kalelc commented on #22
@cloudson Thanks!!

[2016-12-14 15:06] #22 closed

[2016-12-14 15:08] juliend2 opened #24 "Library not loaded: libgit2.21.dylib"
I'm on OSX 10.11.6 and I followed the instructions, but it fails when I'm trying to use it:

[code]

[2016-12-14 15:15] juliend2 commented on #24
Update:

`gitql -h` works if I'm inside `~/gopath/src/github.com/cloudson/gitql/libgit2/install/lib`.

[2016-12-14 15:17] juliend2 commented on #24
Nevermind, I misread the instructions and used the linux `LD_LIBRARY_PATH` instead of `DYLIB_...`.

[2016-12-14 15:17] #24 closed

[2016-12-14 15:25] rileytg commented on #19
all you gotta do is fork it, delete the gif. it can all be on github.com

more importantly why would a 12 year old give a shit about this project? (no hate @cloudson, i'm a fan.) does she run your devops?

[2016-12-14 15:28] rileytg commented on #19
"hey kid wanna see some gitql? just get in my van"

[2016-12-14 15:52] cloudson commented on #19
@mbabuskov I was just trying to be funny. Sorry if I caused problems in your kid's education.
I will work in a new video and recommend you to follow the tip until there

I will close this issue because it's more about education and lifestyle than this project.

[2016-12-14 15:52] #19 closed

[2016-12-14 16:54] angvp opened #26 "Add COUNT(*)"
For instance for counting the number of commits of an Author ?

[2016-12-14 17:43] KyleAMathews opened #27 "JSON output?"
That'd make it useful for integrating with other tools.

[2016-12-14 17:51] dbkaplun opened #28 "Homebrew tap/package"

[2016-12-14 18:45] ph-hs opened #29 "rename the command git-ql to fit the standard extension design"
End users can then do:

$ git ql "etc"

[2016-12-14 18:47] cloudson commented on #29
Hey @ph-hs
When you do [make install](https://github.com/cloudson/gitql/blob/develop/Makefile#L26) , you have already a 'git ql' alias.

[2016-12-14 18:52] yarko opened #30 "building from src on OS/X (and/or installing)"
After `make`ing on Mac, fails with *.dyld thus:

[code]

According to [apple developer docs](https://developer.apple.com/library/content/documentation/DeveloperTools/Conceptual/DynamicLibraries/100-Articles/UsingDynamicLibraries.html),
you should be able to set any of
`LD_LIBRARY_PATH`,
`DYLD_LIBRARY_PATH`, or
`DYLD_FALLBACK_LIBRARY_PATH`.

but for me (on Sierra 10.12.1), only the last two work.

[2016-12-14 19:21] cloudson commented on #27
Hummm, interesting... if you want work on this @KyleAMathews , feel free.
I would like to see that feature alive anyway :thinking:

[2016-12-14 19:35] ph-hs commented on #29
My bad, I was just watching the video

[2016-12-14 19:37] cloudson commented on #29
No problem. 👍

[2016-12-14 19:37] #29 closed

[2016-12-14 19:45] cloudson commented on #26
It would to be an awesome feature for me.
My main problem here is that I didn't find a way to do a count without a table scan. For big projects a query like

` select count(*) from commits where "hell" in  message`

will be very slow. Databases  use indexes to help on this work, maybe some strategy like that should to be used here.
If you have some idea to do it with more performance, let me know

[2016-12-14 19:55] pedrorijo91 commented on #23
I'll try to make some time on the weekend or in the next week, but not sure if it's going to be possible. Nevertheless, as soon as I get some free time to benchmark I will do a PR :)

[2016-12-14 20:34] KyleAMathews commented on #27
I have a use case in mind for this but it'll be a while before I'd need it. Also my knowledge of Go is non-existent :-)

This is a cool effort though! Much more approachable interface to Git info vs. libgit2.

[2016-12-14 23:30] luizperes commented on #26
you could maybe create this feature for now @cloudson and improve the performance later... of course, telling people that this might be slow.

[2016-12-15 00:14] luizperes commented on #30
I was with the same problem, @yarko ! I like your solution! Couldn't open a PR? :)

[2016-12-15 00:48] evaryont commented on #23
This is a good idea! To start with, what would be good examples of large repositories? A couple that do come to mind is the Linux Kernel and Ruby on Rails.

[2016-12-15 08:38] vigo commented on #30
You need `cmake``

    brew install cmake

will help. Also do not forget to set your `DYLD_LIBRARY_PATH` variable...

[2016-12-15 08:44] vigo opened #33 "question: date query"
First of all, I really liked this tool. Thanks for it... Can you please give some more date query examples ? between dates for instance? I cross checked via git's:

    git log --online --since='4 months ago' --date=relative

and compared to `git sql`... It's like maximum 10 results for each query ?

[2016-12-15 08:49] luizperes commented on #27
Please check the PR https://github.com/cloudson/gitql/pull/34 @KyleAMathews and @cloudson . :)

[2016-12-15 10:30] cloudson commented on #33
Hello @vigo

Each date value can be represented with pattern `Y-m-d H:i:s`, for example:

[code]

[code]

You can use the reserved word `limit` to define how many lines you can see.
[code]

If you think that our documentation could be better, we could work together to improve that. Let me know if want that.

[2016-12-15 10:32] cloudson commented on #33
By the way.
There is no way yet to define relative dates, but it would be a nice feature like [mysql date_add](https://dev.mysql.com/doc/refman/5.5/en/date-and-time-functions.html#function_date-add)

[2016-12-15 11:32] vigo commented on #33
Thanks for answering... I had tried without `H:i:s` information. Now I understand the reason... One last thing, I guess the default limit value is 10... If I query like this:

[code]

I get 10 results... I think I need to set `limit` every time ?... Would be great if I can set a kind of env var something like `GITQL_DEFAULT_LIMIT=100` (just an idea) :)

[2016-12-15 14:22] elboletaire opened #35 "Add a field in branches table with the remote(s)"
So we can filter branches i.e. `WHERE remote="origin"`.

An additional column to know if they are locale or just remote branches, plus another column for those which are currently merged would be awesome too.

[2016-12-15 14:51] cloudson commented on #33
@vigo I tried
[code]
And it works.
If you have some query using date in `Y-m-d` format and it does not work please can you open a new issue? So we can work on that.

I prefer to follow [*explicit is better than implicit*](https://www.python.org/dev/peps/pep-0020/) but your ideia is cool. Feel free if you want send a PR ;)

[2016-12-15 15:14] angvp commented on #26
I do this with bash aliases, yes, it does full table scan, but git shortlog + wc it does pretty fast tho (in a repo of more than 2000~ commits)

[2016-12-15 15:46] piclemx opened #36 "Error when I use the plugin"
dyld: Library not loaded: libgit2.21.dylib
  Referenced from: /usr/local/bin/gitql
  Reason: image not found
[1]    56160 abort      gitql "select message from commits"

I'm on Mac OSX

[2016-12-15 16:22] cloudson commented on #36
Hi @piclemx .
Did you exported the DYLD_LIBRARY_PATH environment variable ?

[2016-12-15 18:03] piclemx commented on #36
Yes

[2016-12-15 18:22] cloudson commented on #35
Hello @elboletaire
I did not understand your issue. A branch can exists in many remotes, from `git pull` the branch itself has no relationship with that remote address. Can you give me some examples what you imagined?

[2016-12-15 18:47] elboletaire commented on #35
For example, how could you do something like this:

[code]

...with gitql?

I'm sorry but I don't understand this part:

A branch can exist in many remotes, but it could not be. For example, something I regularly do is to add the `upstream` remote to my fork pointing to the original project (note, I always name `upstream` to an fork's original project while `origin` is always my project git repo;

[2016-12-15 19:10] msankhala commented on #36
Actually that export variable DYLD_LIBRARY_PATH step should be mentioned before the `make` step under installation section in README.md. `make` for me failed at first attempt then i set that `DYLD_LIBRARY_PATH` variable then `make` step worked fine for me.

[2016-12-15 19:27] cloudson commented on #30
Thank you @yarko  👏  👏
Your tip seems solve this problem. I did a [commit](https://github.com/cloudson/gitql/commit/0de04dc6a63053b7540fbc531eeaf0690c708f81) and I would like that you and @luizperes help me to review that.
If you guys want to make some change on it or a better way to write it, please let me know.

[2016-12-15 19:34] cloudson commented on #36
@piclemx there are other thread trying to make the installation easily.
Can you help us with a test?
I did a [commit](https://github.com/cloudson/gitql/commit/0de04dc6a63053b7540fbc531eeaf0690c708f81) and you could follow the steps

[code]
It solves your problem?

[2016-12-15 20:23] luizperes commented on #30
It looks neat @cloudson! I will check that on my Mac and reply you back!

[2016-12-15 23:24] luizperes commented on #30
Hi @cloudson, I tested the [fix_required_variable]( https://github.com/cloudson/gitql/tree/fix_required_variable) branch and it seems to have been fixed! Congrats!

[2016-12-15 23:40] Zhambul opened #37 "pkg-config: exec: "pkg-config": executable file not found in $PATH"
Following install steps.

[code]
on the the 3rd step it goes

[code]

[2016-12-16 01:14] luizperes commented on #37
Hi @Zhambul ,

You will need to follow this link [here](http://macappstore.org/pkg-config/).

[code]

Then it is going to be fine...

[2016-12-16 01:15] luizperes commented on #36
It seems to be duplicated from https://github.com/cloudson/gitql/issues/30 @piclemx, take a look

[2016-12-16 06:44] vigo commented on #33
ok, it works but if I don't provide "limit XX" default resuts are always 10... Here is the [repo](https://github.com/vigo/dotfiles-universal) I make my tests. SQL is:

[code]

I get 10 results unless I set limit XXX...

[2016-12-16 09:34] Code-Hex commented on #14
Please read [this](https://github.com/cloudson/gitql/pull/38)

[2016-12-16 10:45] amitu opened #39 "Option to export git log to sqlite"
When this command runs it creates an in memory sqlite database with all tables and throws us in the sqlite3 shell (possibly with --dump, which simply stores the tables in a sqlite db disc based file). This will allow much richer query.

[2016-12-16 11:47] #37 closed

[2016-12-16 14:45] piclemx commented on #36
@cloudson Yes this is working 👍

[2016-12-16 14:57] luizperes commented on #36
Sweet, @piclemx, could you close this issue? :)

[2016-12-16 17:25] jamescowie opened #40 "Display of multiline commit messages"
When a commit message is spread over multiple lines E.g.:

[code]

Then only the first line `This is first line of message:` gets output in the table.

[2016-12-16 19:09] #36 closed

[2016-12-16 19:10] piclemx commented on #36
Done ;)

[2016-12-16 19:23] luizperes commented on #40
@jamescowie I was think also to include `...` instead of  showing the whole message, in cases like that

[2016-12-16 19:46] jamescowie commented on #40
Ah looking into code it looks like it was a choice already made. https://github.com/cloudson/gitql/blob/develop/runtime/commits.go#L90 I might look at options to show based on setting runtime arg.

[2016-12-16 23:05] cloudson commented on #39
Hey @amitu ,
I think that the main goal of gitql is make queries on git repositories. If we put a feature about export to sqlite, it will loss that goal because the query language would be from sqlite. Maybe create other project
looks better.
When I started to code this, I thought to follow that strategy, but one of the problems is that you always would need to sync the database before run queries

[2016-12-17 00:13] cloudson commented on #30
Cool, I just will try on linux and edit the readme before merge this. Thanks guys.

[2016-12-17 02:10] jamescowie commented on #40
Ok proposed solution that I have working is to have 2 types e.g. Message and that shows single line and full_message to show multi line.

or is this just better to remove filter for multi lines ?

[2016-12-17 02:48] luizperes commented on #40
I like the idea of having two types... what do you think @cloudson ?

[2016-12-17 11:25] amitu commented on #39
The in memory db was to avoid the problem of resyncing. With in memory db its more like `git log | less`, the content displayed in pager won't change, it will be a snapshot, and on next call it would be the latest snapshot.

The very first thing I tried after installing gitql was to do a group by author, and realised group by doesn't work.

It would be vary challenging task to keep the query langu

[2016-12-17 12:48] cloudson commented on #40
Hey guys, the commits table have already the two columns `message' and `full_message`.
But I know that the table broken when whe type

[code]

Maybe we can work in a new way to print a table.

[2016-12-17 13:04] cloudson opened #41 "Add support to environment variable define the default limit"
Based on #33 and to avoid always to write the limit word we could to have a environment variable that defines that
eg.:  `GITQL_DEFAULT_LIMIT`

[2016-12-17 13:06] cloudson commented on #33
Right @vigo, as this issue was about that question with dates, I'm closing it and created another about the [limit feature](#41)

[2016-12-17 13:06] #33 closed

[2016-12-17 15:11] jamescowie commented on #40
Thanks for the reply. I found that when printing full message. I'm looking at how the table cells get rendered in an effort to make it fluid. However still learning to at the same time.

[2016-12-17 15:43] jcubic opened #42 "Can't build on Windows with Git bash and MinGW"
Here is a question on StackOverflow with answer suggesting that this is a problem with the project.
[Can't run Cmake on windows with MinGW and git bash](http://stackoverflow.com/questions/41198218/cant-run-cmake-on-windows-with-mingw-and-git-bash)

[2016-12-17 17:24] luizperes commented on #39
how long would gitql spend to fill in the database in the case of in memory db, @amitu?

[2016-12-17 17:25] luizperes commented on #41
How about passing that on a flag as well?

[2016-12-17 17:30] luizperes commented on #42
Did you fix it @jcubic?

[2016-12-17 21:09] cloudson commented on #27
As the PR is merged, I am closing this.

[2016-12-17 21:09] #27 closed

[2016-12-17 21:12] cloudson commented on #30
Thanks again for the suggestions @yarko . I put of one then on makefile and I'm closing this.

[2016-12-17 21:12] #30 closed

[2016-12-17 21:14] cloudson commented on #41
@luizperes for me there is no difference between use the query parameter or a flag.

[2016-12-18 09:56] jcubic commented on #42
@luizperes No, I don't know how to create `CMakeLists.txt` file.

[2016-12-18 11:19] amitu commented on #39
It will depend on the size of the repository. It will take almost the same time as `git log` does.

[2016-12-18 17:26] luizperes commented on #42
I will try to replicate and fix that myself and answer you back @jcubic

[2016-12-18 17:35] luizperes commented on #39
We could also try to implement memoization together with taking the latest snapshot. Sounds promising, but we gotta study its viability and speed

[2016-12-20 17:42] yarko commented on #30
Hi @cloudson - must have missed emails from this, just saw this.

Glad you fixed it.

Some nits:

In the Makefile `build:` step  (prior to install),  how can we ensure that people will successfully get a test of `./gitql` working?   Perhaps a simple `echo` with a hint that "you may need to set DYLD_LIBRARY_PATH" to get the uninstalled version to run?

Also, would it be worthwhile (since you're cop

[2016-12-24 14:53] cloudson opened #45 "Better videos showing the tool"
As gitql has changed, we need to improve the documentation with new videos showing the features.
I love the asciinema tool and I've tried to create a [new one](https://asciinema.org/a/97094) there.
I thought to create specific short videos about

* How to work with range dates
* How to use the different output types
* How to use the `in` word or sorting lines
* How to search for other tables diffe

[2016-12-25 20:31] luizperes commented on #40
Any news regarding that @jamescowie ?

[2016-12-25 20:34] luizperes commented on #14
Shall we close this issue @cloudson? Once #38 is merged?

[2016-12-28 17:18] cloudson commented on #14
Completely right @luizperes. I'm closing this as #46 was merged.

[2016-12-28 17:18] #14 closed

[2016-12-29 05:58] #20 closed

[2016-12-29 05:59] cloudson commented on #20
Sorry for the late @Frozenfire92 . I found the problem that you mentioned here and fixed it.
Now, gitql will return a empty table as result. We can discuss about a new way to show results in cases like that.
Thank you for report.

[2016-12-29 06:03] cloudson commented on #35
Oh, I got it @elboletaire . It seems a nice improvement .
I hope to work on this as soon as possible but if you want to do this, feel free.

[2017-01-01 23:22] clandry94 opened #48 "git2.h: No such file or directory when building"
Currently trying to install as per the steps in the readme and this error occurs on make

[code]

System
- Ubuntu 16.04
- Go 1.7.4

[2017-01-05 03:24] zakiaziz opened #49 "How do I denote a 'not'?"
I see I can run something like
[code]
but is it possible to run something like
[code]

[2017-01-05 11:25] cloudson commented on #49
Hey @zakiaziz ,
It is not possible yet but is a nice improvement. I will add a label here as a future feature.
If you want to join us with this task, feel free.

[2017-01-06 07:14] musiKk commented on #45
The "see more here" link in the README (https://asciinema.org/a/8863) also is a 404.

[2017-01-08 13:49] jcubic opened #50 "Order by desc/asc"
It seems that the two queries return the same results:
[code]

[2017-01-26 15:17] mdykman commented on #48
I am having an seemingly related issue with this:

 mdykman@newslave:~/gitql$ git branch
  develop
* master
mdykman@newslave:~/gitql$ make
Preparing...

chmod: cannot access ‘/src/github.com/cloudson/git2go/script/build-libgit2.sh’: No such file or directory
Makefile:15: recipe for target 'prepare' failed
make: *** [prepare] Error 1

[2017-04-25 08:42] paritosh16 opened #51 "Error: git-ql died of signal 9"
Environment Details -
* Operating System - MAC OS Sierra (10.12.4)
* Go version - go1.8
* cmake version - 3.8.0
* make version - GNU Make 3.81

I have installed `gitql` as mentioned in the README file.

Whenever I run `gitql`, I get the following error -

    paritoshwalvekar in ~/go/src/github.com/cloudson/gitql on develop λ gitql
    [1]    10778 killed     gitql
    paritoshwalvekar in ~/go/src

[2017-04-25 22:01] luizperes commented on #51
This doesn't seem to be an error with `git` rather than `gitql`.

Tale a look [here](http://stackoverflow.com/questions/7985124/git-push-error-index-pack-died-of-signal-9)

[2017-05-17 20:04] jsixface commented on #50
Looks like if the sort column is not present in the selected column list, sorting does not work.
The above queries with the `date` in the select column seem to work
[code]

[2017-05-17 20:22] luizperes commented on #50
Nice to point that out @jsixface! I believe that the current code is ignoring the `date` in the first example. Perhaps just a matter of that to the symbol table. I will try to check that out later. Thanks.

[2017-06-29 00:50] abhi18av opened #53 "Adding the package to awesome-go."
Hi guys, I think this a a wonderful piece of work and I wanted to add it to the awesome-go list, but it's running into trouble with the CI.

Could you help me out?

[2017-06-30 09:30] foxhujm commented on #48
[code]
System
- macOS 10.12.5
- go1.8.1

[2017-06-30 11:52] luizperes commented on #53
Yeah, could you give me details?

[2017-06-30 15:38] jsixface commented on #48
You do not have `pkg-config` installed on your Mac.
[code]
If you do not have Homebrew, refer here - https://brew.sh/

[2017-06-30 15:41] luizperes commented on #48
Is it working now? I believe that this will be slightly better with the PR https://github.com/cloudson/gitql/pull/44

[2017-07-03 06:57] foxhujm commented on #48
It had installed. But i found i have 2 bash, git-ql is 755, gitql is 644. So when i run an error `Permission denied`.It is working when after `chmod 755 /usr/local/bin/gitql`.

[2017-09-07 11:41] abhi18av opened #54 "Error while make tasks"
Hi @cloudson

I was trying to install this on my system but it throws the following error

[code]

Could you help me out here ?

[2017-09-07 19:32] luizperes commented on #54
Hi @abhi18av, please check https://github.com/cloudson/gitql/issues/30 and https://github.com/cloudson/gitql/issues/48 and reply me back if you have any problems! Cheers

[2017-09-12 05:37] abhi18av commented on #54
Yup, worked like magic. Thanks @luizperes  :+1:

[2017-09-12 05:37] #54 closed

[2017-10-21 05:12] luizperes commented on #53
Hi @abhi18av, did you get it? (Can I close this issue?)

[2017-10-21 05:13] luizperes commented on #51
Hi @paritosh16, did you fix it?

[2017-10-21 18:56] #50 closed

[2017-10-21 18:57] luizperes commented on #50
Hi @jcubic, that was fixed on #52 by @jsixface, thanks!

[2017-10-21 19:34] jcubic opened #55 "select * from commits"
This don't work:

[code]
it return:
[code]

[2017-10-21 19:36] jcubic commented on #50
Oh, I've completly forget about this project I've just installed it on my current Linux Box.

[2017-10-21 19:37] luizperes commented on #55
That is an interesting one, what do you think @jsixface?

[2017-10-21 20:28] jcubic commented on #55
I don't know golang but looking at the source it seems that both functions in runtime/commits.go need to share the list of fields maybe instead of metadataCommit function with switch something like javascript object with methods and then when field is "*" you could do something like javascript `fields = Object.keys(data)` don't know how do you do stuff like that in golang.

[2017-10-21 20:43] luizperes commented on #55
Yeah, I don't think that it will be hard to do. I will investigate that as soon as I have free time :)

[2017-10-21 22:42] jsixface commented on #55
This is not working ever without the limit and order by.
I'm looking into it now

[2017-10-22 00:56] #55 closed

[2017-10-22 01:00] jsixface commented on #3
@cloudson Problem 1 seems to be fixed by b1f6f28
[code]
I'll look into Problem 2

[2017-10-22 01:03] luizperes commented on #3
You're on fire!

[2017-10-22 01:18] jsixface commented on #3
😄 I am learning Go and working on a open source project is a very good exercise.

[2017-10-22 01:31] luizperes commented on #3
It is indeed! Keep the good work! :D

[2017-10-22 03:58] abhi18av commented on #53
Well, not yet.

I became rely busy with other things here but I'll give it another try soon.

I'll close the issue though ;)

[2017-10-22 03:58] #53 closed

[2017-10-22 07:27] jcubic opened #57 "Parse error don't include newline at the end"
If you make error in sql you get error and there are no new line at the end so it mess up command line in bash, you need to press enter and then up arrow to edit the command.

[2017-10-22 07:37] jcubic opened #58 "field not equal string"
How to select first committer that is not me?

I've try this:

[code]

but got error:
[code]

and this:

[code]

return:
[code]

[2017-10-22 07:45] jcubic opened #59 "like or regex search"
It would be nice to have like or regex keywords to search commits by part of the message like this:
[code]

to have all commits that have console.log in it or when count(*) is added

[code]

[2017-10-22 09:27] jcubic commented on #39
I've create small script in python that export git log to sqlite database file:

https://gist.github.com/jcubic/0c7ccae5d764ff61788fc626096e5688

so maybe you can use it instead of implementing option to export to sqlite in gitql.

[2017-10-22 09:30] jcubic commented on #39
and it's pretty fast, it was only slow when I print the log when debugging so if you will import export in gitql it shouldn't be slow.

[2017-10-22 13:47] jsixface commented on #57
I've fixed this error in my last PR.
Can you validate this with the latest code.

On Oct 22, 2017 3:27 AM, Jakub Jankiewicz <notifications@github.com> wrote:

If you make error in sql you get error and there are no new line at the end so it mess up command line in bash, you need to press enter and then up arrow to edit the command.

—
You are receiving this because you are subscribed to this threa

[2017-10-22 20:22] luizperes commented on #39
That is cool! I will take a look at that later, as I think that our priority for now would be fixing the small bugs on `gitql`. Only then we could start working on that. What do you think @jcubic ?

[2017-10-22 20:24] luizperes commented on #57
Can you check that please @jcubic ? :)

[2017-10-22 20:25] luizperes commented on #59
that would be great to have, it is in `TODO` now :)

[2017-10-22 20:27] luizperes commented on #58
That is an interesting one, I think that it could be done together with #59

[2017-10-22 21:40] jcubic commented on #57
Yes, it's fixed thanks.

[2017-10-22 21:40] #57 closed

[2017-10-22 21:53] jcubic commented on #39
No rush and great work on the tool.

[2017-10-22 21:56] jcubic opened #60 "Distinct"
One more feature request.

[code]

to show all contributors

[2017-10-29 02:50] jsixface commented on #58
This one should be easier than #59
I'll take it up

[2017-10-29 13:52] jsixface commented on #59
Implementing a where clause `like` and grouping mechanisms like `count(*)` should be in different issues.

[2017-10-29 15:24] jcubic commented on #59
There is already an issue for `count(*)` #26

[2017-10-30 01:04] #3 closed

[2017-10-30 01:23] jsixface opened #63 "Publish in software repos"
Is it possible to publish this as a software package in open source software repos like Debian / centos repos. People can discover and install this by using
[code]
or
[code]

[2017-11-01 19:50] #58 closed

[2017-11-01 19:51] luizperes commented on #63
That would be a very good one @jsixface! I dont have much time right now but will try to do will when I get some time! Thanks!

[2017-11-03 14:47] jsixface commented on #63
This is what I had in mind.
  - Homebrew for mac
  - Debian repo for `apt install`
  - Centos Extras Repo for `yum install`
  - Arch Repo

[2017-11-03 15:58] jhirbour commented on #63
For homebrew: https://github.com/Homebrew/brew/blob/master/docs/Formula-Cookbook.md

[2018-01-14 19:42] cloudson commented on #59
It's done by @jsixface  :)

[2018-01-14 19:42] #59 closed

[2018-01-14 19:57] cloudson commented on #51
I'm closing this, if the problem still hapenning, please, let us know @paritosh16 .

[2018-01-14 19:57] #51 closed

[2018-10-08 21:13] luizperes commented on #49
Hey @frahman5, I don't know whether @cloudson will read this soon, but I think I can say that you can work on this feature, since I don't think @zakiaziz is working on it and @cloudson has pre-approved on his comment above. I am one of the contributors in this project and can help to review your PR, so feel free to work on it.

Luiz

[2018-10-09 05:34] DanielRuf opened #66 "link in readme does not work anymore"
https://asciinema.org/a/8863

[2018-10-09 05:35] DanielRuf opened #67 "move to an organization account"

[2018-10-09 23:05] cloudson commented on #66
Thank you @DanielRuf . I've changed it for now but maybe the best thing to do is create a better video showing the latest features.

[2018-10-09 23:05] #66 closed

[2018-10-09 23:07] cloudson commented on #67
I can't see any big advantage creating an organization. I mean, if we have some ideas in how to break the code in different packages or create new products based on it, it make sense.
What is your goals @DanielRuf ?

[2018-10-10 01:03] frahman5 commented on #49
Hi @luizperes thanks! I'm working on it now. I'll ping you when I put up a PR.

- Faiyam

[2018-10-10 06:43] DanielRuf commented on #67
The main advantage is more granular control, teams with different rights, collaborators and contributors, higher truck factor and no dependence on a personal account.

[2018-10-10 09:48] cloudson commented on #67
Got it. As currently we don't have too many contributors and the number of maintainers is low, I think that we don't need that kind of control yet. But I really would like to work more to release a version 2 of Gitql and I will consider your suggestions in the future. Thanks a lot for that.

[2018-10-10 09:48] #67 closed

[2018-10-12 20:06] cloudson opened #69 "Keep the usage of error simpler"
Currently we are using a lot of different variables to use errors (`err`, `err2`, `err3`). Well, how can I say it... it's not necessary 😅 .

[2018-10-12 22:02] cloudson commented on #21
I will close this since its too old, if you still having problems let me know and we can test the latest version in a docker container.

[2018-10-12 22:02] #21 closed

[2018-10-12 22:45] cloudson commented on #39
Do you guys think that this is something needed in the tool? As we can show the results as a json, if someone need to that, they can use the json as an input to another script.
If we move on, our domain will change a lot, we will start thinking in different database drivers, for example.

[2018-10-18 17:07] jsixface opened #71 "Publish in Homebrew"
Make `gitql` available through homebrew to be installed via command `brew install gitql`
A sub-task of #63

I'll start working on this first

[2018-10-18 19:17] cloudson opened #72 "Error on parsing"
**Query**
`"select message from commits where name > 2"`

**Expected error**
`Table 'commits' has not field 'name'`

**Error found**
`Expected  and found T_NUMERIC`

[2018-10-18 19:19] cloudson commented on #41
For me it's something that we can think better in the future, I'm leaving the idea to keep the issues more updated.

[2018-10-18 19:19] #41 closed

[2018-10-18 19:20] cloudson commented on #48
If you guys still having errors, please let us know. As the related issue is closed, I'm closing this one as well.

[2018-10-18 19:20] #48 closed

[2018-10-18 19:21] #69 closed

[2018-10-18 19:41] cloudson commented on #39
Well. I'm closing this for now based that gitql should not connects with real databases, we can reopen it to think in other tool like jcubic did. Thank you for all the suggestions.

[2018-10-18 19:41] #39 closed

[2018-10-18 19:51] jsixface commented on #39
I agree. But do you think, we can have export to a CSV file. Most databases support exporting a query to a csv file; easier for sharing data to humans. JSON is good for sharing data with other apps, which we already have.

[2018-10-18 20:53] jsixface commented on #71
@cloudson if `libgit2`  library is already installed in the system, can we go ahead and build gitql directly with go build. Assuming the dynamic library path is setup.

[2018-10-19 19:37] jsixface commented on #71
@cloudson I was trying a ask a question there :smiley:  . Trying to find out why the fork libgit2 and git2go was used rather than original repos. If tagging to a specific version is needed the new dependency manager in go can help.

[2018-10-20 01:51] jsixface commented on #71
That makes sense. Yeah dep can solve the versioning issue and can stick to a specific tag. That way we make libgit2 a system dependency and have gitql as installable software.

[2018-10-20 08:52] cloudson opened #74 "Use default $GOPATH if it's not set"
Since go 1.8 $GOPATH env var is not required we need to use `homefolder/go`on building if necessary.

[2018-10-27 17:52] #74 closed

[2018-10-28 19:10] jsixface opened #77 "owner in remotes table"
What is the purpose of the `owner` in the `remotes` table. It just prints out the location of the .git directory. Does it have to do anything with the remotes ?

[2018-10-29 00:58] cloudson commented on #77
Maybe the chosen name is not so good @jsixface and we should change it.
It was inspired on https://libgit2.org/libgit2/#HEAD/group/remote/git_remote_owner which really returns the local git path.

[2018-10-29 12:58] jsixface commented on #77
The remote owner is gone in the latest libgit2 version 27

[2018-10-29 15:01] cloudson commented on #77
Cool, let's remove it.

[2018-11-11 22:56] #72 closed

[2019-01-24 11:02] pedoc opened #78 "feature request:publish windows build binary"
RT

[2019-01-25 09:41] cloudson commented on #78
Hey @pedoc , for now we don't publish an executable binary because gitql has a dynamic dependency . Maybe the best solution would be change that to a static one. If you have some suggestion in how to solve that problem I would appreciate that.

[2019-01-26 10:52] pedoc commented on #78
hi,thanks u reply.
another option is that if the project can be successfully compiled in msys2 or cygwin (etc.), it is also feasible, but I have tried it, unfortunately, not working.

i am happy to help solve the compilation problem, but I am lacking enough go-lang experience, i am C#er

[2019-02-11 15:26] budden commented on #42
Anyone alive here? I built it with MSYS toolchain, with some trouble. Do you want a PR?

[2019-02-11 17:02] budden commented on #42
So, just for the records: I forked both gitql and git2go, and made some changes in the branch issue-42-by-budden.

I use `-G "MSYS Makefiles"` to build, which I try to enable conditionally under MINGW only.
For the successul build, one has to install some packages:

`pacman -S openssl openssl-devel libssh2 libssh2-devel`

Without that, `go build` would pointlessly complain about PKG_CONFIG_PATH

A

[2019-02-12 00:13] cloudson commented on #42
Hey @budden ! It's really good that you make gitql running on windows, a pull request is really welcome, can you open it? I will check if the build for linux/mac still working (actually we need to put the build process in CI process with github actions, for example).

[2019-02-12 00:16] cloudson commented on #42
My mistake, You already did it on cloudson/git2go. I will check it asap and come back here. Thanks a lot.

[2019-02-12 08:39] budden commented on #42
Yeah, I opened PR after posting the comment. Please review carefully, I'm far from being proficient in bash and cmake. I combined the solution from StackOverflow answers.

[2019-02-12 12:27] budden commented on #42
Updated the PR - I conditionalized installation process, so for MinGW it is very simplified and seem to work. Again, I'm not an expert in MinGW, only glanced at stackoverflow and googled throw docs. It "just works" here and now.

[2019-02-12 12:59] budden commented on #42
Seem to have installed on Linux successfully.

[2019-02-12 14:07] cloudson commented on #42
That's cool, thanks again.

[2019-02-16 12:07] cloudson commented on #78
Hey @pedoc, thank you for your availablity. Can restart all the installation process?
@budden is helping us with windows support and maybe he can help you if it still not working here #79.
We created a new release right now and base on it I will close this proposal.

[2019-02-16 12:07] #78 closed

[2019-02-16 12:08] cloudson commented on #42
With all the help of @budden , I'm closing this long issue. Thank you guy.

[2019-02-16 12:08] #42 closed

[2019-02-16 12:12] cloudson commented on #35
As we didn't see many other users requesting this branch feature and I'm worried that we have some important hidden bugs to solve first, I'm closing this one and all the discussions can be moved to #18

[2019-02-16 12:12] #35 closed

[2019-02-17 18:15] jsixface opened #81 "Static binary release"
To eliminate the dynamic dependency on libgit2 / git2go and do a static binary build on all three platforms - Linux/Mac/Windows.

[2019-04-20 19:01] jsixface commented on #81
I looked into the possibility of making a static build, but that is kind of impossible since libigt2 has dependencies.

https://github.com/libgit2/git2go#master-branch-or-static-linking

The best I can think of is, to setup go module, include a versioned branch of git2go in go dependency and have libgit2, openSSL and LibSSH2 as separately installed dependency.

[2019-04-22 09:21] cloudson commented on #81
Thanks for the research @jsixface . That's something that I don't know exactly how to solve keeping libgit2 as dependecny 😿.
If you if find anything else please send it for us here.

[2019-06-08 19:24] navigaid commented on #81
Hi, I stumbled upon this issue while researching how to build static binaries with git2go. After some trial and error, I think successfully solved the problem. Here is the final solution that I came up with

[code]

I made some changes go gitql in my fork, otherwise they won't build against the latest git2go, since it's api has changed a bit.

links:
- my fork of this project: https://github.com/n

[2019-06-09 10:49] cloudson commented on #81
Hey @navigaid , first of all thanks a lot for the effort.
When gitql was cretead we didn't have go modules so the best way to make sure that git2go would not break the compiling was to fork it and point to `cloudson/git2go`. If you think that we need to upgrade cloudson/git2go, we can do that.

Can you make a pull request with your gitql changes and the git2go upgrade?

[2019-06-09 12:05] navigaid commented on #81
Hi @cloudson,

I didn't make any change to `cloudson/git2go` in my fork of `cloudson/gitql`, instead it is replaced with master branch of `github.com/libgit2/git2go`, so there is no need to upgrade `cloudson/git2go`.

Do we have plans to switch to go mod? If yes, then we can drop `cloudson/git2go` and use upstream `github.com/libgit2/git2go`. Current version of `cloudson/git2go` is way too old.

I

[2019-06-09 12:20] cloudson commented on #81
The problem of use `github.com/libgit2/git2go` without go modules is that they can upgrade the
lib breaking compatibility (it already happened before). That's why I'm in favor to keep cloudson/git2go until go modules support.

So, for me, we could merge your changes of gitql + static compilation pointing to an upgraded cloudson/git2go.
After that we can move to go modules and remove cloudson/git2g

[2019-06-09 13:37] navigaid commented on #81
Sounds good to me. Let me adjust my code a little bit, and make sure it also works under Windows/macOS. It will probably take a few days before I make a pull request since I'm have other projects to take care of. So please be patient

[2019-06-12 01:42] jsixface commented on #81
If breaking changes in upstream is a problem, we can go with a versioned branch in go module dependency.
[code]
I have a version that works with go module. But it is little lagging behind.
https://github.com/jsixface/gitql/tree/git2go

[2019-10-20 17:22] cloudson commented on #26
This is done, so closing the issue :D

[2019-10-20 17:22] #26 closed

[2019-10-29 20:12] cloudson commented on #81
@jsixface we have now static binaries for windows and linux so I'm going to close this. For macos it something that we need to improve but we also need to track if most of the users use mac and require this.

[2019-10-29 20:12] #81 closed

[2019-10-30 05:17] jsixface commented on #81
What is the issue with static binary for MacOS. I can give it a try.

[2019-10-30 20:05] #45 closed

[2019-10-31 00:11] cloudson commented on #81
When I tried throught github actions, it happened something like this
https://stackoverflow.com/questions/3801011/ld-library-not-found-for-lcrt0-o-on-osx-10-6-with-gcc-clang-static-flag

[2020-02-29 20:32] isaeef commented on #71
@cloudson is this still open , if yes would like to work on it

[2020-02-29 20:34] cloudson commented on #71
@isaeef definetly it's open and we would love to get your help. 😊

[2020-07-10 02:10] ankane commented on #71
Hey @filhodanuvem, I created a formula here: https://github.com/ankane/homebrew-core/blob/master/Formula/gitql.rb

However, it fails with:

[code]

Is it possible to support the latest version of libgit2 (1.0.1)?

[2020-09-12 13:24] filhodanuvem opened #92 "Functional tests"
We have a bunch of unit tests but there still features uncovered on gitql.
We could use [bats](https://github.com/sstephenson/bats) to generate tests that

1) Run gitql with some query
[code]

2) Use [jq](https://stedolan.github.io/jq/) to process the json output and understand if the it make sense

3) Code this approach inside [bats](https://github.com/sstephenson/bats) to make the assertion.

Ex

[2020-09-15 12:21] renatosuero commented on #71
what about [use](https://goreleaser.com/customization/homebrew/) to release new version including homebrew?

[2020-09-15 20:00] filhodanuvem commented on #71
First of all, thanks for the effor @ankane, I just notice your message now, so sorry for the late.
Currently gitql depends of git2go, which uses the libgit2. It seems that git2go supports libgit2 1.0, so we could upgrate and check it.

[2020-09-17 01:57] ankane commented on #71
Great, happy to test again once #94 is merged (fwiw, it looks like there are some references in the code to `cloudson/git2go` that aren't in the PR).

[2020-09-17 08:34] filhodanuvem commented on #71
Just a question, in the formula, can we fixed the libgit2 to 1.0.1? I'm worried that in few months it will start breaking because in gitql is not going to require the latest version of git2go/libgit2.

[2020-09-17 18:42] ankane commented on #71
Homebrew has a few versioned formula, but from my understanding, it's only for very popular packages (the current libgit2 formula always references the latest version). With the 1.0 release, all 1.x releases should be backward compatible according to the release notes:

libgit2. The API will stay compatible across all releases of the same major
version.

[2020-10-04 20:48] filhodanuvem commented on #71
@ankane we just made a change that remove the libgit2 dependency, if you are able to try again on homebrew that would be awesome. I'm closing #94 since it's not needed anymore.

[2020-10-04 21:56] ankane commented on #71
@filhodanuvem works great. Will submit whenever a new release is out.

[2020-10-04 22:02] filhodanuvem commented on #71
Done @ankane

[2020-10-04 22:24] ankane commented on #71
Great, submitted: https://github.com/Homebrew/homebrew-core/pull/62091

[2020-10-04 22:58] filhodanuvem commented on #71
Thank you so much @ankane

[2020-10-05 17:50] ankane commented on #71
[code]

is now available.

[2020-10-05 19:04] filhodanuvem commented on #71
Amazing! Thanks a lot @ankane for the effort. I'm closing this.

[2020-10-05 19:04] #71 closed

[2020-10-05 19:10] filhodanuvem commented on #63
Gitql is available on homebrew.
I think it's better to have different issues for each software repo (apt-get, chocolately and so on) so I'm closing this and feel free to help us to give support for the other OS.

[2020-10-05 19:10] #63 closed

[2020-10-05 19:10] ankane commented on #71
np, thanks for updating the project to make it work.

[2020-10-07 08:54] sesam opened #101 "Bug: select * from remotes fails"
Are remotes are supposed to be available as a table? It's listed in the autocomplete suggestions when typing `select * from [tab]`

[2020-10-07 18:34] filhodanuvem commented on #101
We removed the support to remotes in gitql 2.0.0, if you notice mentions to that, it's a good opportunity to clean it up.

[2020-10-08 10:11] sesam opened #103 "Feature idea: Include more nice badges on top of README?"
I had a look on github.com/rodrigo-brito/gocity and liked the badges up top. Maybe some of those are relevant also here?

[2020-10-08 10:15] sesam opened #104 "Improve code coverage"
I think this project has quite good test coverage already, from looking through some test files. Still it could be nice with a ticket find the current coverage, and to figure out together if some more tests should be added.

[2020-10-08 10:19] sesam commented on #18
This looks like nice stuff, and at least "show databases" can be a possible #hacktoberfest task. Of course, adding "show databases" more or less means also committing to adding "use (branch)" at some future point. How about we create this as two ticket? Can we break it down even further?

[2020-10-08 18:20] filhodanuvem opened #106 ""Show databases" feature"
A query command to list all the branches in a sql way.
[code]

Would be similar to

[code]

[2020-10-08 18:22] filhodanuvem opened #107 ""Use" feature"
In the same direction of #106 we could do

`use develop`

as

`git checkout develop`

So switch between branches in a sql way.

[2020-10-08 18:23] filhodanuvem commented on #18
That's fair enough for me @sesam. Breaking it into #106 and #107

[2020-10-08 18:23] #18 closed

[2020-10-08 18:24] #101 closed

[2020-10-09 20:26] #60 closed

[2020-10-13 04:37] blueworrybear commented on #104
Hi @sesam,

I am interested in this issue. I fork your repository and generate the coverage report. Here is the result:

[![coverage](https://covergates.com/api/v1/reports/bu2iirq23akg00ekge80/card)](https://covergates.com/report/github/blueworrybear/gitql/code)

It seems to me that we could have more test cases in the `runtime` package, especial for `reference.go` and `visitor.go`.

May I work on

[2020-10-17 22:54] #106 closed

[2020-10-19 19:09] #107 closed

[2021-05-25 09:37] tiberiuana opened #113 "Error when using `distinct`"
`distinct` doesn't seem to work in Gitql 2.1.0 (binary release)

Using the example from the README:

**Query:**
[code]

**Error:**
[code]

[2021-05-26 20:02] filhodanuvem commented on #113
Hey @tiberiuana , thank you for let us know.
I just fixed that in a version `2.2.0`, can you please check that?

[2021-05-26 20:04] filhodanuvem commented on #103
Closing this since we have nice badges :)
Thank you all.

[2021-05-26 20:04] #103 closed

[2021-05-26 20:54] tiberiuana commented on #113
It works for me now. Thanks for the quick reply! :rocket:

I'm curious, since I see no new commits on main -- was the code already there but not in the binary release?

[2021-05-26 20:54] #113 closed

[2021-05-26 21:38] filhodanuvem commented on #113
Yes, exactly that 😁. I might be missed the timing on creating a new release after a bunch of changes in the last hacktoberfest.

[2021-05-30 15:56] #92 closed

[2021-08-25 12:50] gabriellopes00 opened #119 "Set Up Dependabot"
What's up, dude ? What do you think of setting up dependabot on this repository? Dependabot is a GitHub bot that checks dependency updates from repositories and, as any new version of a dependency appears, the bot automatically opens a new PR suggesting the update. It's secure because nothing is automatically deployed, so no updates will be able to compromise the app.  To set up it, you just need

[2021-08-25 12:53] gabriellopes00 commented on #119
Dependabot is also compatible with many package managers from many different languages, and gomod is one of them.

[2021-08-28 13:15] filhodanuvem commented on #119
Hey Gabriel, that's an awesome idea. I've enabled the bot on settings, feel free to send a minimal `dependabot.yml` :)

[2021-08-28 18:15] gabriellopes00 commented on #119
Thanks very much for accepting my contribution, @filhodanuvem 👊

[2021-08-28 18:15] #119 closed

[2021-08-28 18:19] filhodanuvem commented on #119
Thank you for the help.

[2021-10-12 21:04] filhodanuvem opened #128 "Bug: Application panics on query with double quotes"
This query works fine
[code]

This one, with a double quotes in the where clause raises an error
[code]

[code]

[2021-10-12 21:07] filhodanuvem opened #129 "Refactor: Change visibility of methods, structs and variables"
In golang, every identifier which starts with a uppercase letter is visible outside of the package. There are a lot of exported variables/methods/structs in gitql that should be visibile only inside the package.

[2021-10-12 21:12] filhodanuvem opened #130 "Bug: Git stash entries listed as commits"
Since we moved from git2go to go-git, any query on commits is showing also possible git stashes and it shouldn't.

[2021-10-13 11:43] filhodanuvem commented on #128
Good catch @radiantly, in that case a syntax error is the only expected behavior.
I noticed that we have the same problem using the equal operator.

[code]

[2021-10-13 18:07] filhodanuvem commented on #130
Hey @radiantly I just noticed that the bug was solved already, false alarm here :)
Thank you for checking that, it was really valuable.

[2021-10-13 18:07] #130 closed

[2021-10-13 18:30] filhodanuvem opened #132 "Bug: Functional tests do not run on windows VM"
We use bats to run functional tests on GitHub Actions.
But the action is failing in the setup only on Windows VMs. This might be a problem in the action version itself or it is not well configured.

[code]

I've opened a PR to show how can you test that. https://github.com/filhodanuvem/gitql/pull/131
https://github.com/filhodanuvem/gitql/runs/3886290856?check_suite_focus=true

[2021-10-13 18:35] filhodanuvem opened #133 "Refactor: Make a literal/constant tokens map"
In the lexical package we do

[code]

but this could be avoided with a literal/constant map, we don't need an `allocMapTokenNames` function. That's a C way of coding that I introduced in the beginning of the project :)

https://github.com/filhodanuvem/gitql/blob/main/lexical/tokens.go

[2021-10-13 18:47] filhodanuvem opened #134 "Benchmarks"
The idea of this issue is exactly what we had on https://github.com/filhodanuvem/gitql/issues/23, I'm duplicating it as an upvote with the hope that we are getting some contribution on hacktoberfest21.

What we expect is to see some numbers on how gitql behaves with big repositories such as [kubernetes](https://github.com/kubernetes/kubernetes). Does the queries with filtering take longer to respo

[2021-10-13 19:40] willmadison commented on #133
I'd be happy to refactor this.

[2021-10-13 19:55] filhodanuvem commented on #133
Just go for it @willmadison

[2021-10-13 21:19] #133 closed

[2021-10-13 21:56] filhodanuvem commented on #132
Amazing progress @radiantly . I think we have a few options to move on:
- Force all the binaries to be compiled without the extension on their names during the [build job](https://github.com/radiantly/gitql/blob/main/.github/workflows/ci.yml#L31)
-  Add a [new step](https://github.com/radiantly/gitql/blob/main/.github/workflows/ci.yml#L66) that works only on windows and rename it to remove the `.e

[2021-10-31 21:52] marlonemmerich commented on #129
Hello, Claudson!
I'm sorry, i'm little late hahah
Can you check my PR if it's what you have in mind?
https://github.com/filhodanuvem/gitql/pull/138

If you have any suggestions, please, let me know!
Thank you again for this opportunity!

[2021-10-31 22:17] filhodanuvem commented on #129
All good there :) thank you

[2021-10-31 22:17] #129 closed

[2022-02-02 12:27] llagerlof commented on #128
I think you should escape the quotes?

[code]

[2022-02-10 03:30] filhodanuvem commented on #128
Scaping the quotes working fine @llagerlof thanks for checking that.
Anyway, the application shouldn't panic in any case, so  I've introduced an improvement to show a graceful parser error.

[2022-02-10 03:30] #128 closed

[2022-04-22 06:01] xuegl opened #149 "Is count supported?"
i tried to use count in SQL but got an error:
[code]
So is `count` is not supported yet?

[2022-04-22 21:48] filhodanuvem commented on #149
Hello @xuegl . `count` is supported but `group by` is not.

For example:
[code]

[2022-04-24 00:52] xuegl commented on #149
@filhodanuvem Are there any plan to support this feature?

[2022-04-24 10:32] filhodanuvem commented on #149
Not in the near future, but we are always open to contributions.
If you want to drive this I will be happy to support you.

[2022-10-07 00:32] KenyStev commented on #149
@filhodanuvem I'd like to contribute to this project